{% extends 'photoupload/base.html' %}
{% load staticfiles %}

{% block headAndStyle %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'timeline/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
{% endblock %}

{% block header %}
<meta charset="utf-8" />
<title>Place the geocoder input outside the map</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
<style>
	body { margin: 0; padding: 0; }
	#map { position: absolute; right: 20px; top: 130px; bottom: 0; width: 30%; height: 70%}
  #pac-input { right: 50px; width: 100%}
</style>
</head>
<body>
{% endblock %}

{% block content %}

<style>
#pac-input {
position: relative;
z-index: 1;
width: 100%;
left: 50%;
margin-left: -33%;
top: 10px;
}

</style>

<div class="inspect-container">

  <img class="inspectPhoto" src="{{ MEDIA_URL }}{{ image.image }}" style="width:500px;height:500px;margin-left:50px;float:left;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">

  <form style='float:left;margin-left:50px' method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input id="submitButton" style='padding:6px 130px;margin-top:20px' type="submit" value="Submit"/>
  </form>

	<div style='float:left;width:421.11px'>
		<input id="pac-input" class="controls" type="text" placeholder="Search Location">
    <div id="map"></div>
	</div>



</div>


</body>
<script>
$(function() {
  $('#id_memories').addClass('form-control');
  $('#id_tags').addClass('form-control');
  $('#id_caption').addClass('form-control')
  $('#id_location').addClass('form-control');
  $('form input[type="submit"]').addClass('btn btn-outline-success');
  $('form p').attr('margin-bottom:10px');
});



function initMap() {

	var myLatlng = new google.maps.LatLng(41.38, 2.18);
	var myOptions = {
		zoom: 15,
		center: myLatlng
	}
	var map = new google.maps.Map(document.getElementById("map"), myOptions);
	var geocoder = new google.maps.Geocoder();
	// var infowindow = new google.maps.InfoWindow;

	var input = document.getElementById('pac-input');
	var searchBox = new google.maps.places.SearchBox(input);
	// map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

	map.addListener('bounds_changed', function() {
		searchBox.setBounds(map.getBounds());
	});

	var markers = [];
	// Listen for the event fired when the user selects a prediction and retrieve
	// more details for that place.
	searchBox.addListener('places_changed', function() {
		var places = searchBox.getPlaces();

		if (places.length == 0) {
			return;
		}

		// Clear out the old markers.
		markers.forEach(function(marker) {
			marker.setMap(null);
		});
		markers = [];

		// For each place, get the icon, name and location.
		var bounds = new google.maps.LatLngBounds();
		places.forEach(function(place) {
			if (!place.geometry) {
				console.log("Returned place contains no geometry");
				return;
			}
			var icon = {
				url: place.icon,
				size: new google.maps.Size(71, 71),
				origin: new google.maps.Point(0, 0),
				anchor: new google.maps.Point(17, 34),
				scaledSize: new google.maps.Size(25, 25)
			};

			// Create a marker for each place.
			markers.push(new google.maps.Marker({
				map: map,
				icon: icon,
				title: place.name,
				position: place.geometry.location
			}));

			if (place.geometry.viewport) {
				// Only geocodes have viewport.
				bounds.union(place.geometry.viewport);
			} else {
				bounds.extend(place.geometry.location);
			}
		});
		map.fitBounds(bounds);
	});

	google.maps.event.addListener(map, 'click', function(event) {
		geocoder.geocode({
			'latLng': event.latLng
		}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				if (results[0]) {
					document.getElementById("pac-input").value = results[0].formatted_address
				}
			}
		});
	});

	geocodeLocation(geocoder, map)

}

function geocodeLocation(geocoder, resultsMap) {
	var inspectPhotoLocation = $('#id_location').val();
	geocoder.geocode({
		'address': inspectPhotoLocation
	}, function(results, status) {
		if (status === google.maps.GeocoderStatus.OK) {
			// resultsMap.setCenter(results[0].geometry.location);
			marker = new google.maps.Marker({
				map: resultsMap,
				position: results[0].geometry.location,
				title: results[0].formatted_address
			});
			resultsMap.setCenter(results[0].geometry.location);
		}
		else {
			alert('Geocode was not successful for the following reason: ' + status);
		}
	});
}

$('#pac-input').addClass('form-control');
$('#pac-input').on('keyup', function(currentLocation) {
	currentLocation = $('#pac-input').val();
	$('#id_location').val(currentLocation);
});

$('#submitButton').hover(function(){
    $(this).css("background-color", "#DCDCDC");
    }, function(){
    $(this).css("background-color", "buttonface");
});

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places&callback=initMap">
</script>
{% endblock %}
