{% extends 'photoupload/base.html' %}
{% load staticfiles %}

{% block headAndStyle %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 1960,
      max: 2040,
      values: [ 1960, 2020 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "" + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "" + $( "#slider-range" ).slider( "values", 0 ) +
      " - " + $( "#slider-range" ).slider( "values", 1 ) );
    $('#slider-range > span').eq(0).attr('style', 'height:2.75em');
    $('#slider-range > span').eq(1).attr('style', 'height:2.75em;left:75%');
  } );
  $(function() {
    $('#slider-range').mouseup(function() {
      $('.yearField').each(function(string) {
        string = parseInt($(this).html().replace('<span class="caret" style="transform:rotate(-180deg)"></span>', ''));
          if(string >= $('#slider-range').slider('values')[0] && string <= $('#slider-range').slider('values')[1]) {
          $(this).parent().show();
          console.log(string + 'inside range');
        }
        else {
          $(this).parent().hide();
        }
      });
    });
  });

  </script>
  <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
  <style>
  	body { margin: 0; padding: 0; }
  	#map { position: absolute; top: 0; bottom: 0; width: 100%; }

    .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  .imageContainer1965:hover .tooltiptext {
    visibility: visible;
  }
  </style>
</head>
<body>
{% endblock %}

{% block header %}

{% endblock %}


{% block content %}



<div id='filterTray' style='border-radius:20px;margin-left:20px;margin-right:10px'>
  <div>
    <img id="filterHeader" src="{% static 'Filter-2-icon.PNG' %}" style='height:20px;width:20px;margin-left:5px;cursor:pointer'><span class="caret" style="transform:rotate(-180deg)"></span>
  </div>
  <div id='filterContainer' style="height:80px;display:none">
    <div style='float:left;margin-left:15px;width:35%'>
      <p>
        <label for="amount">Years:</label>
        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="slider-range" style='height:32px'></div>
    </div>
    <div style='float:left;width:60%;margin-left:35px;margin-top:35px'>
      <div>
        <input type='text' id='firstTagSearch' class='form-control' placeholder='Filter by tags' style='width:200px;float:left'>
        <input id='locationSearch' style="float:left; margin-left:20px;width:40%"></input>
        <input type='submit' id='filterSubmit' class='btn btn-outline-dark' value='Apply Filters' style=' margin-left:10px;float:right'>
    </div>
  </div>
</div>

{% for image in images %}
  {% ifchanged image.yearField %}
    </div></div></div><div class='yearBreak' style='float:left'>
      <div class="panel panel-primary year-container">
            <div class="panel-heading yearField">{{image.yearField}}
              <!-- <div style='border-radius:20px;margin-left:3%;margin-right:3%;margin-bottom:15px;position:sticky;top:0;padding:5px;background-color:#e6f0ff'>
                <h2 class="yearField" style="margin-left:625px">{{ image.yearField }} <span class="caret" style='transform:rotate(-180deg)'></span></h1>
              </div> -->
            </div>
    <div class="panel-body">
      {% endifchanged %}
      <div class="imageContainer{{image.yearField}}" style="float:left;width:25%;margin:auto">
          <a href="{% url 'inspect' forloop.counter %}">
            <img class="timelinePhoto" src='{{ MEDIA_URL }}{{ image.image }}' value='{{image.tags}} {{image.location}}' style="width:250px;height:250px;margin-left:35px;margin-bottom:100px">
          </a>
          <div class='tooltip'>
            <span class='tooltiptext'> Tooltip Text </span>
          </div>
      </div>
      {% if forloop.last %}
  </div>
  {% endif %}
{% endfor %}
<!--


{% for image in images %}
  {% ifchanged image.yearField %}
    </div><div class='yearBreak' style='float:left'>
    <div style='border-radius:20px;margin-left:3%;margin-right:3%;margin-bottom:15px;position:sticky;top:0;padding:5px;background-color:#e6f0ff'>
      <h2 class="yearField" style="margin-left:625px">{{ image.yearField }} <span class="caret" style='transform:rotate(-180deg)'></span></h1>
    </div>
  {% endifchanged %}
  <div class="imageContainer{{image.yearField}}" style="float:left;width:25%;margin:auto">
    <a href="{% url 'inspect' forloop.counter %}">
      <img class="timelinePhoto" src='{{ MEDIA_URL }}{{ image.image }}' value='{{image.tags}}' style="width:250px;height:250px;margin-left:60px;margin-bottom:100px">
    </a>
  </div>
  {% if forloop.last %}
  </div>
  {% endif %}
{% endfor %} -->

</body>
<script>
function init() {
	var input = document.getElementById('locationSearch');
	var autocomplete = new google.maps.places.Autocomplete(input);
}
$('#locationSearch').addClass('form-control');


$(function() {
  $('.yearField').click(function() {
          string = $(this).html().replace('<span class="caret" style="transform:rotate(-180deg)"></span>', '');
          year = ".imageContainer" + string;
          $(year).toggle();
  });
});
$(function() {
  $('#filterHeader').click(function() {
      $('#filterContainer').toggle();
      // $('#filterTray').attr('style', 'border: solid black');
      if($('.caret').css('transform') === 'matrix(-1, -1.22465e-16, 1.22465e-16, -1, 0, 0)') {
        $('.caret').attr('style', 'transform: rotate(-360deg)');
      }
      else {
        $('.caret').attr('style', 'transform: rotate(-180deg)');
      }

  });
});

$(function () {
  $('#filterSubmit').on('click', function(inputString) {
    inputString = $('#firstTagSearch').val();
    inputString += $('#locationSearch').val();
    $('.timelinePhoto').each(function(photoString) {
      photoString = $(this).attr('value');
      // console.log(photoString);
      if(photoString.indexOf(inputString) == -1) {
        $(this).parent().parent().hide();
      }
      else {
        $(this).parent().parent().show();
      }
    });
  });
});
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7bsO1SEsaah1CpreakpfWyd0PCwd0P-g&libraries=places&callback=init">
</script>
{% endblock %}
