amqp==2.5.0
billiard==3.6.0.0
celery==4.3.0
certifi==2019.3.9
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.24
django-batch-uploader==0.14
django-debug-toolbar==1.11
django-debug-toolbar-template-timings==0.9
django-extensions==2.1.4
django-heroku==0.3.1
django-location-field==2.1.0
django-taggit==1.2.0
idna==2.8
kombu==4.6.1
natsort==6.0.0
oauthlib==3.0.1
Pillow==7.0.0
psycopg2==2.7.6.1
python-dateutil==2.8.0
pytz==2018.7
PyYAML==5.1
redis==3.3.0
requests==2.22.0
requests-oauthlib==1.2.0
six==1.11.0
sqlparse==0.2.4
urllib3==1.25.3
vine==1.3.0
virtualenv==16.7.9
virtualenvwrapper-win==1.2.5
whitenoise==4.1.1
